{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/florka-sh"><img src="{% static 'images/github_logo.png' %}" alt="..."></a></li>
        <!--<li><a href="javascript:void(0)"><img src="{% static 'images/discord.png' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li> -->
        <li><a href="https://www.linkedin.com/in/florin-sherban-9211b198/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->